<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<p><%= link_to '終了期限の近い順', tasks_path(sort_expired: "true") %></p>
<p><%= link_to 'タスクの新しい順', tasks_path %></p>

<%= form_with(scope: :search, url: tasks_path, method: :get, local: true) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit('検索')%>
<% end %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>終了日時</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="task_row">
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.expired_at.strftime("%Y年%m月%d日") %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
