<p>
  <strong>タイトル:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>終了時刻:</strong>
  <%= @task.expired_at.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>優先度:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>ユーザー名:</strong>
  <%= @task.user.name %>
</p>
<p>
<%= @task.tagging_tags.pluck(:title) %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '一覧', tasks_path %>
