<!DOCTYPE html>
<html>
  <head>
    <title>ElApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to "タスク一覧", tasks_path %>
      <%= link_to "ログイン中：#{current_user.name}", user_path(current_user.id) %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "サインアップ", new_user_path %>
      <%= link_to "サインイン", new_session_path %>
    <% end %>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
